/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    text-decoration: none;
    margin: 0;
    border: 0;
    list-style: none;
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 226px;
 


}
.nav-title{
    font-weight: 800;
    font-size:45px;

}


nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* colour */
.dark-2{
    color:#474747
}

nav ul {
    display: flex;
    align-items: center;
    
}

nav ul li{
    margin-right: 50px;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding:18px 35px ;
    border-radius: 5px;
}


/* banner */

.banner-greetins{
    font-size: 45px;
    font-weight:45;

}

.banner-title{
    font-size: 85px;
    font-weight: bold;

}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}


.banner-profile-pic{
    width: 580;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;

}

/* header */

.header{
    background-image:url(portfolio-resources/images/developer.png),url(portfolio-resources/images/header_bg.png);
    background-repeat:no-repeat;
    background-position: top left,bottom right;

}

.section-title{
    font-size: 35px;
    font-weight:bold;
    color: #181818;
    margin: 25px 0px;
}

main{
    max-width: 1140px;
    margin:0 auto;

}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;

}

.item-description{
    font-weight: 600;
}

.about-items{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 30px;


}

.text-center{
    text-align: center;
}

/* skill section start from here */

.skils{
    justify-content: center;




}

.skills-container{
    display: flex;
    gap: 24px;

    
}

.skill{
    padding: 30px;
    box-shadow:0px 6px 50px 0px rgba(0,0,0,0.06);
    margin-top: 30px;
    border-radius: 5px;


}
.skill-title{
    margin: 20px 0px;
}


main section {
    margin: 130px 0px;
}